h1{
    text-align: center;
    color: red;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:inherit;
}
li{background-color:grey ;
    width: 150px;
    height: 20px;
    text-align: center;
}
.active{
    background-color: black;
    color: white;
}