h1{
    text-align: center;
    color: red;
}

ul, 
ol{
   list-style-type: none; 
}

.ordered-list{
    list-style-type: decimal-leading-zero;
}

.unordered-list{
    list-style-type: square;
}

.emoji-list{
    list-style-type: "🐆 ";
}

.custom-image-list{
    list-style-image: url("../images/setting.svg");
    list-style-position: inside;
}









