h1{
    text-align: center;
    color: red;
}

h1:active{
    background-color: salmon;
    color: crimson;
}

.btn{
    padding: 10px 20px;
    background-color: black;
    color: gold;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover{
    background-color: goldenrod;
    color: black;
}


.visited:visited{
    color: tomato;
    background-color: pink;
}

input.focus{
    padding: 10px 20px;
}

.focus:focus{
    background-color: black;
    color: white;
}

.checkbox:checked{
    width: 100px;
    height: 100px;
}
ul.list{
    list-style-type: none;
    font-size: 20px;
}

li:nth-child(odd){
    background-color: rebeccapurple;
    color: lightpink;
}

li:first-child{
    background-color: crimson;
    color: pink;
}

li:last-child{
    background-color: darkblue;
    color: lightblue;
}

li:nth-child(3){
    background-color: green;
    color: lawngreen;
}



p:first-of-type,
p:last-of-type{
    background-color: black;
    color: white;
}

a:first-child,
a:last-child{
    background-color: blue;
    color: black;
}



