h1{
    text-align: center;
    color: red;
}

h1:active{
    background-color: salmon;
    color: crimson;
}

.btn{
    padding: 10px 20px;
    background-color: black;
    color: gold;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover{
    background-color: goldenrod;
    color: black;
}


.visited:visited{
    color: tomato;
    background-color: pink;
}

input.focus{
    padding: 10px 20px;
}

.focus:focus{
    background-color: black;
    color: white;
}

.checkbox:checked{
    width: 100px;
    height: 100px;
}




